<ul>
  <li><a href="/" class="nav-link scrollto"><i class="bi bi-chat-right-heart"></i> <span>Souhaits</span></a></li>
  <li><a href="/participation" class="nav-link scrollto"><i class="bi bi-play-circle"></i> <span>Participations</span></a></li>
  <li><a href="/questRead" class="nav-link scrollto"><i class="bi bi-patch-question"></i> <span>Questionnaires</span></a></li>
  <li><a href="/participant" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Participants</span></a></li>
  <li><a href="/ceremonie" class="nav-link scrollto"><i class="bi bi-airplane"></i> <span>Cérémonies</span></a></li>
</ul>
